<footer class="footer" [ngClass]="{hidden: noTodosClass()}">
    <span class="todo-count">
        <strong>{{ activeCount() }}</strong>
        {{ itemsLeftText() }}
    </span>
    <ul class="filters">
        <li>
            <a href="/" [ngClass]="{selected: filterSig() === filterEnum.ALL}"
            (click)="changeFilter($event, filterEnum.ALL)">All</a>
        </li>
        <li>
            <a href="/" [ngClass]="{selected: filterSig() === filterEnum.ACTIVE}"
            (click)="changeFilter($event, filterEnum.ACTIVE)">Active</a>
        </li>
        <li>
            <a href="/" [ngClass]="{selected: filterSig() === filterEnum.COMPLETED}"
            (click)="changeFilter($event, filterEnum.COMPLETED)">Completed</a>
        </li>
    </ul>
</footer>